/* General styles --------------------------------------------------------- */
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 200vh;
}

.App-logo {
  float: left;
  height: 20vmin;
  width: 20vmin;
}

.App-title{
  position: relative;
  top: 18px;
  left: 100px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Table Style --------------------------------------------------------- */
.table {
  text-align: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.table-row1{
  width: 25%;
}

.table-row2{
  text-align: center;
  width: 75%;
}

/* Link and button styles .......................................................*/
a{
  color: white;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table button{
  min-width:100%;
}

.button-s {
  font-weight: bold;
}